---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import MainLayout from "../layouts/MainLayout.astro";
import "./BlogStyle.css";
const { blok } = Astro.props;

const content = renderRichText(blok.content, {
    resolver: (component, blok) => {
        switch (component) {
            case "paragraph":
                console.log(component);
                return `<div class="text-xl">${blok.text}</div>`;
                break;
            default:
                return `Component ${component} not found`;
        }
    },
});

---

<script >
    const pre = document.querySelector("code");

    pre!.style.overflow = "hidden";
</script>

<MainLayout title={blok.title} desc={blok.description} img={blok.banner.url} seoImg={blok.seoImg}>
    <article {...storyblokEditable(blok)}>
        <div class="flex-col flex gap-4">
            <a href="/about">
                <div class="flex gap-3">
                    <div class="avatar items-center gap-2">
                        <div class="w-12 rounded-full">
                            <img
                                src={blok.image.url}
                                width="455"
                                height="429"
                                alt="Hans Figo blog the blog author avatar"
                            />
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <h2 class="text-lg font-semibold">{blok.name}</h2>
                        <p class="text-sm">{blok.publishDate}</p>
                    </div>
                </div>
            </a>

            <h1 class="text-5xl font-extrabold">{blok.title}</h1>

            <div class="flex gap-2 py-2">
                {
                    blok.tags.map((e: string) => (
                        <div class="badge badge-accent">{e}</div>
                    ))
                }
            </div>
            {blok.banner.url && <img src={blok.banner.url} alt="" />}

            <div class="lg:prose-xl prose prose-slate">
                <Fragment set:html={content} />
            </div>
        </div>
    </article>
</MainLayout>
